.big_container{
    display: flex;
    gap: 15px;
}

.header{
    font-family: raleway;
    padding: 15px;
    text-align: center;
    background: #0dc9a4;
    color: white;
    font-size: 30px;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

h1{
    text-align: center;
    font-weight: bold;
}

.container{
    text-align: center;
    line-height: 1.6;
    font-size: 20px;
    width: 700px;
    margin: auto;
}

small{
    line-height: 1.6;
}

.footer{
    font-family: raleway;
    padding: 10px;
    text-align: center;
    background: #0dc9a4;
    color: white;
    font-size: 20px;
}

p{
    text-align: justify;
}

